*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    place-items: center;
    background-color: black;
    display: grid;
    width: 100%;
    height: 100vh;
}
.title{
    color: dodgerblue;
    font-size: 100px;
}